.section h2{
    margin: 0px;
    text-align: center;
}

.offer{
    width: 100%;
    border: 2px #9d9d9d inset;
    margin-top: 15px;
    margin-left: 6px;
    padding: 5px;
    padding-right: 0px;
}

.offer table{
    width: 100%;
    text-align: center;
}